*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
:root{
    --main-color:hsl(200, 100%, 70%);
    --menu-color:hsla(240, 100%, 50%, 0.5);
    --cart-menu-color:hsl(200, 100%, 50%);
}
body{
    background-color: white;
    scroll-behavior: smooth;
}
.btn1{
    font-size: 1.2em;
    padding: 10px;
    border: 0;
    outline: 0;
    margin-top: 5px;
    color: hsl(200, 100%, 30%);
}
.btn1:hover{
    background-color: hsl(200, 100%, 60%);
    color: white;;
}
.btn1:active{
    background-color: hsl(200, 100%, 50%);
}
.btn2{
    padding: 10px;
    border: 0;
    font-weight: bold;
    color: var(--main-color);
    margin: 10px 0;
    background-color: white;
    text-transform: uppercase;
    transform: translateX(60%);
    box-shadow: 3px 3px 1px hsla(0, 0%, 0%, 0.527);
    display: block;
    border-radius: 5px;
}
.btn2:hover{
    background-color: hsl(0, 0%, 80%);
    color: white;
}
.btn2:active{
    background-color: hsl(0, 0%, 60%);
}
#promoLine{
    background-color: red;
    color: white;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow-x: hidden;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    --gap: 100px;
    gap: var(--gap);
}
#promoLine h3 {
    animation: slider 10s infinite linear;
    display: inline-block;
}
@keyframes slider {
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}
header {
    width: 100%;
    height: auto;
    background-color: var(--main-color);
    padding-top: 10px;
}
#firstLine{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
.logo{
    font-weight: bold;
    white-space: nowrap;
    display: flex;
    align-items: center;
}
#firstLine > *{
    margin: auto;
}
.logo span, .text{
    font-size: 1.5em;
}
.logo .emoji{
    animation: comeIn 2s ease forwards;
    transform: translateX(100%);
}
@keyframes comeIn{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}
.logo .text{
    animation: fadeIn 2s linear forwards 2s;
    opacity: 0;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.search-bar{
    display: flex;
    background-color: grey;
    padding: 5px 10px;
    width: 500px;
    border-radius: 5px;
}
#searchInput{
    outline: 0;
    border: 0;
    background: transparent;
    flex: 1;
    color: white;
    caret-color: white;
    padding: 10px;
}
#search-icon, #search-btn{
    width: 30px;
    background: transparent;
    outline: 0;
    border: 0;
}
.fa-user{
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    color: grey;
}
#cart, .fa-shopping-cart{
    font-size: 30px;
    cursor: pointer;
    transform: scaleX(-1) translateY(5px);
}
#items_num{
    border-radius: 50%;
    padding: 5px 10px;
    background-color: white;
    display: inline-block;
    text-align: center; 
    margin-right: 10px;
    font-size: 1.1em;
}
#menu-icon{
    display: none;
}
#secondLine{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    position: relative;
    background-color: hsl(200, 100%, 80%);
}
#main-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main-menu,#side-menu li,a{
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
    color: white;
}
#main-menu li {
    position: relative;
}
#main-menu li::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: white; 
    transition: width 0.3s ease; 
}
#main-menu li:hover::after {
    width: 100%;
}
#side-menu{
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    transition: right .6s ease;
    height: 100vh;
    width: 250px;
    background-color: hsl(200, 100%, 70%, 0.9);
}
#side-menu li,a{
    width: 100%;
    padding: 30px 10px;
}
#side-menu li:hover{
    background-color: hsl(200, 100%, 80%);
}
#cross-menu-icon{
    font-size: 30px;
    cursor: pointer;
}
#shoppingCart{
    background-color: var(--main-color);
    position: fixed;
    z-index: 1;
    color: white;
    inset: 0 -100% 0 auto;
    transition: right .3s ease;
    display: grid;
    width: 400px;
    grid-template-rows: 70px 1fr 70px;
}
@media (max-width:880px){
    #secondLine{
        display: none;
    }
    #menu-icon{
        display: inline-block;
    }
    #listItems .item{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 5px;
        width: 100%;
        height: 200px;
        margin: 0;
    }
    .search-bar{
        width: 80%;
        margin: auto;
    }
    #firstLine{
        flex-direction: column;
    }
    #firstLine > *{
        margin: 10px auto;
    }
}
#productAddedPrompt{
    position: fixed;
    top: 10px;
    width: 200px;
    left: 1rem;
    padding: 10px;
    height: auto;
    border-radius: 10px;
    background-color: whitesmoke;
    color: var(--main-color);
    z-index: 2;
    display: none;
    opacity: 1;
    transition: all 3s ease;
}
#shoppingCart{
    background-color: var(--main-color);
    position: fixed;
    z-index: 1;
    color: white;
    inset: 0 -100% 0 auto;
    transition: right .3s ease;
    display: grid;
    width: 50%;
    grid-template-rows: 70px 1fr 70px;
}
#listItems .item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 5px;
    width: 100%;
    height: max-content;
}
#listItems .item > *{
    font-size: 1.2rem;
    font-weight: bold;
    user-select: none;
}
#listItems .item img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
#shoppingCart h2{
    padding: 20px;
    background-color: var(--cart-menu-color);
    font-size: 1.2rem;
    white-space: nowrap;
}
#shoppingCart .name{
    width: 100px;
}
.plus, .minus{
    border-radius: 50%;
    padding: 3px;
    background-color: white;
    color: var(--main-color);
    cursor: pointer;
}
#quantity{
    font-size: 1.5em;
}
.remove {
    cursor: pointer;
}
.remove:hover{
    color: red;
}
.mainBtns{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.mainBtns button{
    outline: 0;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: hsl(200, 100%, 50%);
}
#listItems .item:nth-child(even){
    background-color: var(--cart-menu-color);
}
.activePageLink{
    color: var(--cart-menu-color);
}
.activePageLink::after{
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white; 
    transition: width 0.3s ease;
}
#hero{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background: url("Img/All Products_hero_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1.3rem;
}
#hero h1{
    border-bottom: 5px solid var(--main-color);
    border-radius: 5px;
    margin: auto 10px;
}
@media (max-width:650px){
    #hero{
        font-size: 1.1em;
    }
}
#categoryContainer{
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#categoryContainer > *{
    font-weight: bold;
    font-size: 1.2rem;
}
.title{
    padding: 50px 0;
    text-align: center;
    font-weight: bold;
    width: 100%;
    position: relative;
    text-transform: capitalize;
    transition: opacity .1s linear;
    color: var(--main-color);
    margin: 20px auto;
    z-index: -1;
}
.title::before{
    position: absolute;
    content: '';
    bottom: 35%;
    right: 40%;
    width: 20%;
    height: 5px;
    border-radius: 10px;
    background-color: var(--main-color);
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    column-gap: 10px;
    margin: auto;
    padding: 20px; 
}
.fa-star, .fa-star-half{
    color: gold;
}
.card {
    width: 250px;
    height: 500px;
    margin: 10px;
    border-radius: 8px; 
    transition: all .5s;
    color: black;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.1);
    background-color: var(--main-color);
    color: white; 
}
.card .rating{
    display: block;
}
.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: inherit; 
    border-top-right-radius: inherit; 
    background-color: white;
}
.card a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}
.card a:hover {
    color: white;
}
.card #priceContainer{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.card #previous_price, #final_price{
    font-weight: bold;
}
#previous_price{
    font-size: 1.4em;
    color: grey;
}
#final_price{
    font-size: 1.5em;
    color: red;
}
.card :not(button,img,.fa-solid){
    margin: 5px 10px;
}
.card .addToCart{
    margin: auto 0;
}
#pagination{
    display: flex;
    justify-content: center;
}
.pagebtn {
    padding: 10px;
    margin: 10px 5px;
    border-radius: 50%;
    background-color: white;
}
.pagebtn.active{
    background-color: black;
    color: whitesmoke;
}
footer {
    color: grey;
    background-color: black;
    margin: 0 auto;
    padding: 50px 30px; 
}
#purpose{
    width: 150px;
}
.footer-content {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 3rem; 
    margin: 30px auto;
    width: 80%;
    font-size: 1.2rem;
}
#footer-copyright {
    width: 80%;
    margin: auto;
    text-align: center;
}
.footer-ul {
    list-style-type: none; 
    padding: 0;
    text-align: center;
}
footer h3 {
    font-weight: bold; 
    font-size: 1.5em;
}
.footer-list-item{
    margin-bottom: 5px;
    color: grey; 
}
.footer-list-item:hover{
    color: white;
}
.footer-coupons {
    max-width: 50%;
    margin: 0 auto;
}
.footer-coupons h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.footer-coupons p {
    font-size: 16px;
    margin-bottom: 20px;
}
.coupon {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.coupon-code h3 {
    margin: 0;
}
.copy-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}
.copy-button:hover {
    background-color: #0056b3;
}
@media (max-width:600px){
    .footer-content{
        margin: auto;
    }
    .footer-content > *{
        margin: 20px auto;
    }
    .footer-coupons{
        width: 100%;
    }
}
@media (max-width:550px){
    .footer-content{
        flex-direction: column;
    }
}
